.banner {
    background-image: url(https://i.ibb.co/g9gP48Z/judges-gavel-book-wooden-table-law-justice-concept-background.jpg);
    background-size: cover !important;
    background-position: center;
}